*{
    padding: 0;
    margin: 0;
}

@media (min-width:300px){

    #formLogin{
        width: 200px;
        background-color: rgba(34, 126, 201, 0.767);
        padding: 10%;
        margin-left: 10%;
        margin-top: 20%;
        border-radius: 5%;
    }
}












